.nav-item:hover{
  background-color: rgb(156, 155, 155);
  color: black;
  border-radius: 15px;
}
.blck{
  color: black;
  font-weight: bold;
  font-family: consolas;
  font-style: italic;
}
.logo{
  margin: 0px 20px;
}
.bord{
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}
.imgg {
  height: 555px;
}
@media (min-width : 577px) and (max-width : 768px) {
  .imgg {
    height: 480px;
  }
}
@media (min-width : 471px) and (max-width : 576px) {
  .imgg {
    height: 375px;
  }
}
@media (min-width : 250px) and (max-width : 470px) {
  .imgg {
    height: 250px;
  }
  .logo{
    width: 30px;
    height: 30px;
  }
  .navbar-brand{
    font-size: 15px;
  }
}
.bord1{
  border: 2px solid black;
  border-radius: 10px;
  padding: 40px;
}
.crd{
  text-align: center;
  width: 237px;
  height: 342px;
  margin: 15px;
  justify-content: center;
  border: 2px solid black;
}
.socialbuttons{
  margin: 5px;
}