.blck{
  color: black;
  font-weight: bold;
  font-family: consolas;
  font-style: italic;
}
.logo{
  margin: 0px 20px;
}
.bord{
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}
.bord1{
  border: 2px solid black;
  border-radius: 10px;
  padding: 40px;
}
.crd{
  width: 18rem;
  border: 2px solid black;
}
.socialbuttons{
  margin: 5px;
}